<!-- Translations: Yiddish -->
{% macro t(key) %}{{ {
"language": "en",
"direction": "ltr",
"action.edit": "Edit this page",
"action.skip": "Skip to content",
"action.view": "View source of this page",
"announce.dismiss": "Don't show this again",
"blog.archive": "Archive",
"blog.categories": "Categories",
"blog.categories.in": "in",
"blog.continue": "Continue reading",
"blog.draft": "Draft",
"blog.index": "Back to index",
"blog.meta": "Metadata",
"blog.references": "Related links",
"clipboard.copy": "Copy to clipboard",
"clipboard.copied": "Copied to clipboard",
"consent.accept": "Accept",
"consent.manage": "Manage settings",
"consent.reject": "Reject",
"footer": "Footer",
"footer.next": "ווייטער",
"footer.previous": "צוריק",
"header": "Header",
"meta.comments": "Comments",
"meta.source": "Source",
"nav": "Navigation",
"readtime.one": "1 min read",
"readtime.other": "# min read",
"rss.created": "RSS feed",
"rss.updated": "RSS feed of updated content",
"search": "זוך",
"search.config.lang": "en",
"search.config.pipeline": "stopWordFilter",
"search.config.separator": "[\\s\\-]+",
"search.placeholder": "זוך",
"search.share": "Share",
"search.reset": "Clear",
"search.result.initializer": "Initializing search",
"search.result.placeholder": "טייפט צו זוכן",
"search.result.none": "נישטא קיין רעזולטאטן",
"search.result.one": "1 רעזולטאט",
"search.result.other": "# רעזולטאטן",
"search.result.more.one": "1 מער אויף דעם בלאט",
"search.result.more.other": "# מער אויף דעם בלאט",
"search.result.term.missing": "פעלט",
"select.language": "Select language",
"select.version": "Select version",
"source": "Go to repository",
"source.file.contributors": "Contributors",
"source.file.date.created": "Created",
"source.file.date.updated": "Last update",
"tabs": "Tabs",
"toc": "אינהאלט",
"top": "צוריק ארויף"
}[key] }}{% endmacro %}